<div class="app-header-background">
  <div class="blur-wrapper">
    <div class="blur"></div>
  </div>
  <div class="header-wrapper">
    <div class="left">
      <nav class="nav-bar">
        <ol>首页</ol>
        <ol>
          <a href="">类型下拉(魔幻 校园)</a>
          <ul>
            <li>魔幻</li>
            <li>校园</li>
          </ul>
        </ol>
        <ol>文库</ol>
        <ol>类型</ol>
        <ol>Ⅲ(排行)</ol>
      </nav>
    </div>
    <div class="right">
      <img src="../../../assets/img/1.jpg" alt="头像" class="avator">
      <div class="history">浏览记录</div>
    </div>
  </div>
  <div class="search-bar">
    <app-search-bar></app-search-bar>
  </div>
</div>



