.app-header-background {
  width: 100%;
  background: antiquewhite;
  height: 170px;

  .header-wrapper {
    margin: 0 auto;
    width: 1024px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    background: lime;

    .left{
      nav.nav-bar {
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
      }
    }

    .right{
      display: flex;
      flex-flow: row nowrap;
      img.avator {
        display: block;
        width: 40px;
        height: 40px;
      }
    }
  }
}

