<div class="chart-room-wrapper">
  <div class="left-nav">
    <img src="../../../assets/img/1.jpg" alt="" class="avater">
    <ul class="chart-list">
      <li>
        <img src="../../../assets/img/1.jpg" alt="" class="avater">
        <div class="group-name">r_鼠标放上去显示群组名</div>
      </li>
      <li></li>
      <li>单聊1</li>
      <li>r_这里要做多的时候自动滚动</li>
    </ul>
  </div>

  <div class="right-chart-room">
    <div class="header">
      <div class="left tab-bar">
        左右移动tab条
      </div>
      <div class="right options">
        <ul>
          <li>-</li>
          <li>*</li>
          <li>x</li>
        </ul>
        <div class="search-bar">
          搜索条
        </div>
      </div>
    </div>
    要添加踩的按钮 每个用户只能点一次

    <div class="body">
      <ul class="chart-list">
        <li class="chart-item">
          <img src="../../../assets/img/1.jpg" alt="" class="avater">
          <div class="arrow"></div>
          <div class="text-box">
            <div class="username">用户名</div>
            <div class="text">
              <p>asdfasdf asdfasdfasdasd asdfasdfasdf asdf as fasd afsd fasdfa</p>
              <p>asdfasdf</p>
              <p>asdfasdf</p>
            </div>
          </div>
        </li>
        <li class="chart-item">
          <img src="" alt="" class="avater">
          <p class="text-box">asdfasdf</p>
        </li>
      </ul>
      <div class="input-bar">
        <div class="option-bar">操作条</div>
        <div class="input">
          <label for="aa"></label>
          <textarea name="" id="aa"></textarea>
          <div class="send-bar"><button>发送</button></div>
        </div>
      </div>
    </div>
  </div>

</div>
