<div class="chart-room-wrapper">
  <div class="left-nav">
    <img src="../../../assets/img/1.jpg" class="avatar">
    <ul class="chart-list">
      <li>
        <img src="../../../assets/img/1.jpg" class="avatar">
        <div>r_鼠标放上去显示群组名</div>
      </li>
      <li>群聊头像</li>
      <li>单聊1</li>
      <li>r_这里要做多的时候自动滚动</li>
    </ul>
  </div>

  <div class="right-chart-room">
    <div class="header">
      <div class="left tab-bar">
        左右移动tab条
      </div>
      <div class="right options">
        <ul>
          <li>-</li>
          <li>*</li>
          <li>x</li>
        </ul>
        <div class="search-bar">
          搜索条
        </div>
      </div>
    </div>

    <div class="body">
    </div>
  </div>

</div>
