<div class="nav-bar-top-wrapper">
  <ul>
    <li><a href="">电击文库</a>
      <ul class="sub-nav">
        <li>分类1</li>
        <li>分类2</li>
        <li>分类3</li></ul>
    </li>
    <li><a href="">角川文库</a>
      <ul class="sub-nav">
        <li>分类1</li>
        <li>分类2</li>
        <li>分类3</li></ul>
    </li>
    <li><a href="">富士见文库</a>
      <ul class="sub-nav">
        <li>分类1</li>
        <li>分类2</li>
        <li>分类3</li></ul>
    </li>
    <li><a href="">Fami通文库</a>
      <ul class="sub-nav">
        <li>分类1</li>
        <li>分类2</li>
        <li>分类3</li></ul>
    </li>
    <li><a href="">MF文库</a>
      <ul class="sub-nav">
        <li>分类1</li>
        <li>分类2</li>
        <li>分类3</li></ul>
    </li>
  </ul>
</div>
电击的list前面要加个可以放大的圆点
