.content-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  ul {
    margin: 15px 10px 10px 10px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
    li {
      width: 100px;
      float: left;
    }
  }
  .more{
    float: right;
    text-align: right;
  }
}

ul.novel-list {
  margin: 10px;
  background: greenyellow;
  li.item {
    float: left;
    width: 100px;
    //height: 180px;
    background: orange;
    display: flex;
    flex-flow: column;
    img {
      width: 100px;
      height: 133px;
    }
    P {
      font-size: 12px;
      margin: 0;
    }
    p.main-title {
    }
    p.update-content{}
    p.sub-title{}
    p.author {
    }
    ul.tags {
      li.tag {
        display: inline-block;
        background: yellow;
        margin-right: 5px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid pink;
      }
    }
  }
}
