<div class="content-wrapper">
  <nav>
    <li>最新更新</li>
    <li>最多收藏</li>
    <li>人气排行</li>
  </nav>
  <ul class="novel-list">
    <li class="item">
      <img src="../../../assets/img/1.jpg" alt="aaa">
      <p class="main-title">My妹~小恶魔般的A CUP</p>  <!--大标题-->
      <p class="sub-title">[わかつきひかる]</p>  <!--小标题 原标题-->
      <ul class="tags">
        <li class="tag">足控</li>
        <li class="tag">女仆</li>
        <li class="tag">中国</li>
        <li class="tag">日本</li>
        <li class="tag">...</li>
      </ul>
    </li>
  </ul>
</div>

<!--<nz-tabset>-->
<!--<nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">-->
<!--<ng-template #titleTemplate>-->
<!--<i nz-icon [type]="tab.icon"></i>{{tab.name}}-->
<!--</ng-template>-->
<!--{{tab.name}}-->
<!--</nz-tab>-->
<!--</nz-tabset>-->

